:root {
    --main-color: #b2dd4c;
}
nav li:not(.icon) {
    width: 150px;
    text-align: center;
}

.icon{
    width: 50px;
}

.main-hover:hover, .menu-active {
    background-color: var(--main-color);
    color: white;
}

.icon-hover:hover {
    color: var(--main-color);
}

.btn:hover {
    background-color: var(--main-color);
    color: white;
}
.btn-main {
    color: #727272;
}

.header-title {
    height: 100px;
    background-color: #f6f6f6;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.carousel-item>img {
    max-width: 100%;
    z-index: 0;
}

.thuc-carousel {
    overflow: hidden;
    height: 500px;
}

.carousel-info {
    position: absolute;
    left: 20%;
    top: 30%;
}

a {
    color: #727272;
}

a:hover{
    color: var(--main-color);
}
.page-link {
    color: #727272;
}

.page-item.active {
    background-color: var(--main-color);
    color: white;
}

.page-item:hover a {
    color: var(--main-color);
}

.single-product div{
    overflow: hidden;
}

.single-product img {
    transition: transform .4s ease-out;
}

div.single-product:hover img{
    transform: scale(1.1);
}

.btn-main{
    border: 1px solid;
}

img {
    width: 100%;
    height: auto;
}

.cart-img {
    width: 80px;
    height: 80px;
}

table {
    text-align: center;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pt-30 {
    padding-top: 28px;
}
.quantity-buttons {
    display: flex;
}
.quantity-buttons span {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    color: #b4b4b4;
}
.quantity-minus {
    border-top: 1px solid #b4b4b4;
    border-left: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.quantity-plus {
    border-top: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.quantity-buttons input {
    height: 36px;
    width: 36px;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    color: white;
    background-color: yellowgreen;
    border: none;
}

/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}